In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [87]:
df0 = pd.read_csv('Telco_Customer_Churn.csv')

In [88]:
#Loop to display 'head' &'tail' of the DataSet
for i in [df0.head(), df0.tail()]:
    display(i)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [89]:
print("No of col's are:", len(df0.columns))
for col in df0.columns:
    display(col)

No of col's are: 21

'customerID'

'gender'

'SeniorCitizen'

'Partner'

'Dependents'

'tenure'

'PhoneService'

'MultipleLines'

'InternetService'

'OnlineSecurity'

'OnlineBackup'

'DeviceProtection'

'TechSupport'

'StreamingTV'

'StreamingMovies'

'Contract'

'PaperlessBilling'

'PaymentMethod'

'MonthlyCharges'

'TotalCharges'

'Churn'

# Aim: Model Building

In [90]:
# Let's start with removing non-essential col's from our dataSet to built a  model

In [91]:
df0.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [92]:
# drop the customerId column
df0 = df0.drop('customerID', axis=1)

In [93]:
df0.head(1)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [94]:
# duplicating df0 dataSet
df1 = df0.copy()

In [95]:

# Aim: i want to add a new col named 'family' and put 'Yes' if my index have partner or dependencied (any of them) based on 'Partner', 'Dependents' column and 'No' if they have none from 'Partner', 'Dependents'column

def family(row):
    if row['Partner'] == "Yes" or row['Dependents'] == "Yes":
        return "Yes"
    else:
        return "No"

df1['family'] = df1.apply(family, axis=1)

In [96]:
df1.head(6)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No
5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,No

In [97]:
yes_count = 0
no_count = 0

for index, row in df1.iterrows():
    if row['family'] == 'Yes':
        yes_count += 1
    elif row['family'] == 'No':
        no_count += 1

print("Number of 'Yes':", yes_count)
print("Number of 'No':", no_count)

Number of 'Yes': 3763
Number of 'No': 3280

In [98]:
df1.drop(['Partner', 'Dependents'], axis=1, inplace=True)

In [99]:
df1.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No

In [100]:
df2 = df1.copy()

In [101]:
df2.head(20)

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No
5,Female,0,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,No
6,Male,0,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No,Yes
7,Female,0,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No,No
8,Female,0,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,Yes
9,Male,0,62,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No,Yes
10,Male,0,13,Yes,No,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Mailed check,49.95,587.45,No,Yes
11,Male,0,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8,No,No
12,Male,0,58,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,One year,No,Credit card (automatic),100.35,5681.1,No,Yes
13,Male,0,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,No
14,Male,0,25,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05,No,No
15,Female,0,69,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),113.25,7895.15,No,Yes
16,Female,0,52,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.65,1022.95,No,No
17,Male,0,71,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,Two year,No,Bank transfer (automatic),106.70,7382.25,No,Yes
18,Female,0,10,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,No,Credit card (automatic),55.20,528.35,Yes,Yes
19,Female,0,21,Yes,No,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,90.05,1862.9,No,No

In [102]:
print(df2['MultipleLines'].unique())

['No phone service' 'No' 'Yes']

In [103]:
df2['MultipleLines'].replace('No phone service', 'No', inplace=True)
df2.head(1)

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes

In [104]:
print(df2['InternetService'].unique())

['DSL' 'Fiber optic' 'No']

In [105]:
df2['InternetService'].replace(['DSL','Fiber optic'], 'Yes', inplace=True)
df2.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No,Yes,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,34,Yes,No,Yes,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,2,Yes,No,Yes,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,45,No,No,Yes,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,2,Yes,No,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No

In [106]:
print(df2['OnlineSecurity'].unique())

['No' 'Yes' 'No internet service']

In [107]:
df2['OnlineSecurity'].replace('No internet service', 'No', inplace = True)

In [108]:
print(df2['OnlineBackup'].unique())

['Yes' 'No' 'No internet service']

In [109]:
df2['OnlineBackup'].replace('No internet service', 'No', inplace = True)

In [110]:
print(df2['OnlineBackup'].unique())

['Yes' 'No']

In [111]:
print(df2['DeviceProtection'].unique())

['No' 'Yes' 'No internet service']

In [112]:
df2['DeviceProtection'].replace('No internet service', 'No', inplace = True)
df2['TechSupport'].replace('No internet service', 'No', inplace = True)
df2['StreamingTV'].replace('No internet service', 'No', inplace = True)
df2['StreamingMovies'].replace('No internet service', 'No', inplace = True)

In [113]:
for col in ['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']:
    print(df2[col].unique())

['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [114]:
df2.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No,Yes,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,34,Yes,No,Yes,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,2,Yes,No,Yes,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,45,No,No,Yes,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,2,Yes,No,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No

In [115]:
# create a new column 'FullService'
df2['FullService'] = df2[['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']].apply(lambda row: 'Yes' if row.notna().all() else 'No', axis=1)

# create a new column 'HalfService'
df2['HalfService'] = df2[['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']].apply(lambda row: 'Yes' if row.notna().all() else list(row[row.isna()].index), axis=1)

# create a new column 'NumService'
df2['NumService'] = df2[['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']].apply(lambda row: row.count(), axis=1)

In [116]:
df2.head(10)

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family,FullService,HalfService,NumService
0,Female,0,1,No,No,Yes,No,Yes,No,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes,Yes,Yes,8
1,Male,0,34,Yes,No,Yes,Yes,No,Yes,No,...,One year,No,Mailed check,56.95,1889.5,No,No,Yes,Yes,8
2,Male,0,2,Yes,No,Yes,Yes,Yes,No,No,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No,Yes,Yes,8
3,Male,0,45,No,No,Yes,Yes,No,Yes,Yes,...,One year,No,Bank transfer (automatic),42.30,1840.75,No,No,Yes,Yes,8
4,Female,0,2,Yes,No,Yes,No,No,No,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No,Yes,Yes,8
5,Female,0,8,Yes,Yes,Yes,No,No,Yes,No,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,No,Yes,Yes,8
6,Male,0,22,Yes,Yes,Yes,No,Yes,No,No,...,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No,Yes,Yes,Yes,8
7,Female,0,10,No,No,Yes,Yes,No,No,No,...,Month-to-month,No,Mailed check,29.75,301.9,No,No,Yes,Yes,8
8,Female,0,28,Yes,Yes,Yes,No,No,Yes,Yes,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,Yes,Yes,Yes,8
9,Male,0,62,Yes,No,Yes,Yes,Yes,No,No,...,One year,No,Bank transfer (automatic),56.15,3487.95,No,Yes,Yes,Yes,8

In [117]:
for col in ['FullService', 'HalfService', 'NumService']:
    print(df2[col].unique())

['Yes']
['Yes']
[8]

In [118]:
df2.drop(['FullService', 'HalfService', 'NumService'], axis=1, inplace=True)

In [119]:
df2.head(1)

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No,Yes,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes

In [120]:
# create a new column 'FullService'
df2['FullService'] = df2[['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']].apply(lambda row: 'Yes' if row.notna().all() else 'No', axis=1)

In [121]:
df2.head(10)

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family,FullService
0,Female,0,1,No,No,Yes,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes,Yes
1,Male,0,34,Yes,No,Yes,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No,Yes
2,Male,0,2,Yes,No,Yes,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No,Yes
3,Male,0,45,No,No,Yes,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No,Yes
4,Female,0,2,Yes,No,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No,Yes
5,Female,0,8,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,No,Yes
6,Male,0,22,Yes,Yes,Yes,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No,Yes,Yes
7,Female,0,10,No,No,Yes,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No,No,Yes
8,Female,0,28,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,Yes,Yes
9,Male,0,62,Yes,No,Yes,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No,Yes,Yes

In [122]:
df2.drop('FullService', axis = 1, inplace = True)

In [123]:
df2.head()

,gender,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,family
0,Female,0,1,No,No,Yes,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Yes
1,Male,0,34,Yes,No,Yes,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No,No
2,Male,0,2,Yes,No,Yes,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,No
3,Male,0,45,No,No,Yes,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,No
4,Female,0,2,Yes,No,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,No

In [124]:
df2.dtypes

gender               object
SeniorCitizen         int64
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
family               object
dtype: object

In [125]:
df2['TotalCharges'] = df2['TotalCharges'].astype('float64')
df2['TotalCharges'] = df2['TotalCharges'].replace(' ', np.nan).astype(float)

ValueError: could not convert string to float: ''

In [ ]:
df2['TotalCharges'] = df2['TotalCharges'].replace(' ', np.nan).astype(float)

In [ ]:
df2['TotalCharges'] = df2['TotalCharges'].astype('float64')
df2['TotalCharges'] = df2['TotalCharges'].replace(' ', np.nan).astype(float)

In [ ]:
df2.dtypes

In [ ]:
# extract tenure data for churned and non-churned customers
tenure_churn_yes = df2[df2. Churn == 'Yes'].tenure
tenure_churn_no = df2[df2. Churn == 'No'].tenure

In [ ]:
import matplotlib.pyplot as plt

# create a new figure with a larger size
plt.figure(figsize=(10, 6))

# creating a histogram of tenure for churned and non-churned customers
plt.hist([tenure_churn_yes, tenure_churn_no], bins=10, color=['green', 'red'], label=['Churned', 'Not Churned'])

# add labels and legend
plt.xlabel('Tenure')
plt.ylabel('Count')
plt.title('Tenure Distribution for Churned & Non-Churned Customers')
plt.legend()

# display the plot
plt.show()

In [ ]:
# extract data for churned and non-churned customers
churned = df2[df2.Churn == 'Yes']
not_churned = df2[df2.Churn == 'No']

# create histograms of MonthlyCharges for churned and non-churned customers
plt.hist(churned.MonthlyCharges, bins=30, alpha=0.5, color='green', label='Churned')
plt.hist(not_churned.MonthlyCharges, bins=30, alpha=0.5, color='red', label='Not Churned')

# add axis labels and legend
plt.xlabel('Monthly Charges')
plt.ylabel('Count')
plt.legend()

# display the plot
plt.show()

In [ ]:
# Churned : people who left the job
# NotChurned : people who hasn't left the job